#---- MQTT Config-----#
mosquitto_host=localhost
mosquitto_port=1883
sub_topic_pattern=hub/event/%s
pub_topic_pattern=ezm/event/%s
broadcast_request_name=broadcast.ezm.device_list.reported

#---- Setting File Dir -----#
mesh_setting_file=/data/config/ezm/mesh_setting.json
dhcp_setting_file=/data/config/ezm/dns_dhcp_setting.json
lan_setting_file=/data/config/ezm/lan_setting.json
wan_setting_file=/data/config/ezm/wan_setting.json
route_setting_file=/data/config/ezm/route_setting.json
iptables_dnat_forwarding_setting_file=/data/config/ezm/iptable_dnat_forwarding_setting.json
iptables_dnat_dmz_setting_file=/data/config/ezm/iptable_dnat_dmz_setting.json
iptables_nova_setting_file=/data/config/ezm/iptable_nova_setting.json

#---- Error Table File -----#
general_error_table_file=/data/error_tables/100_general.json
general_mqtt_error_table_file=/data/error_tables/101_general_mqtt.json
ezm_error_table_file=/data/error_tables/240_ezm.json
service_info_file=/data/database/hub/services_info.json

setup_agent_file=/data/script/ezm/setup_agent.sh
setup_controller_file=/data/script/ezm/setup_controller.sh
setup_wps_file=/data/script/ezm/setup_wps.sh

#---- Ezm config -----#
ezm_name=NovaController


#---- Param config -----#
pair_check_polling_time=5000
pair_timeout=180000
uuid_size=37








